<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Counter</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

</head>

<body>
    <div class="container">

        <h1>Dojo Survey</h1>
        <form action="/submit" method="post">

            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Name">

            <label for="dojo_location">Dojo Location</label>
            <select name="dojo_locations">

                <option value="" disabled selected>Select a Location</option>
                <option value="chicago">Chicago</option>
                <option value="denver">Denver</option>
                <option value="bellevue">Bellevue</option>
                <option value="san_antonio">San Antonio</option>
                <option value="san_francisco">San Francisco</option>
                <option value="porto">Porto</option>
                <option value="online">Online</option>

            </select>

            <label for="favorite_language">Favorite Language</label>
            <select name="favorite_language">

                <option value="" disabled selected>Select a Language</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
                <option value="java">Java</option>
                <option value="c#">c#</option>
                <option value="html">HTML</option>
                <option value="css">CSS</option>
                <option value="mojo">Mojo</option>
            </select>

            <label for="comments">Comments</label>
            <textarea name="comments" id="comments" placeholder="Enter your comments here..."></textarea>

            <button type="submit" class="button">Submit</button>
        </form>

    </div>
</body>

</html>